<mat-card>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    <mat-card-header>
      <mat-card-title>
        <h2>Login Form</h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Email" required name="username" ngModel />
      </mat-form-field>
      <label *ngIf="isEmailError" class="alert alert-danger">
        Please enter a valid email
      </label>

      <mat-form-field>
        <input matInput placeholder="Password" required name="password" ngModel />
      </mat-form-field>
    </mat-card-content>

    <div *ngIf="isLoginError" class="alert alert-danger">
      <i class="material-icon">error</i> Incorrect username or password
    </div>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Login
      </button>
      <a mat-button routerLink="/register">Register</a>
    </mat-card-actions>
    <mat-card-footer>

    </mat-card-footer>
  </form>
</mat-card>