<mat-card>
  <mat-card-content>
    <button mat-raised-button color="warn" [routerLink]="['/login']">
      Login
    </button>
    <button mat-raised-button color="warn" [routerLink]="['/register']">
      Register
    </button>
    <button mat-raised-button color="warn" [routerLink]="['/event-list']">
      Event list
    </button>
    <button mat-raised-button color="warn" (click)="logout()">
      Logout
    </button>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>