<mat-card>
  <form #registerForm="ngForm" (ngSubmit)="register()">
    <mat-card-header>
      <mat-card-title>
        <h2>Register Form</h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="user.email" required name="email" />
      </mat-form-field>
      <label *ngIf="emailErrorMessage" class="alert alert-danger">
        {{emailErrorMessage}}
      </label>

      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" required
          name="password" />
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <label *ngIf="passwordErrorMessage" class="alert alert-danger">
        {{passwordErrorMessage}}
      </label>

      <mat-form-field>
        <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.confirmPassword"
          required name="confirmPassword" />
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <label *ngIf="passwordMatchedErrorMessage" class="alert alert-danger">
        {{passwordMatchedErrorMessage}}
      </label>

      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="user.firstName" required name="firstName" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="user.lastName" required name="lastName" />
      </mat-form-field>

      <mat-form-field>
        <select matNativeControl placeholder="Gender" [(ngModel)]="user.gender" required name="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Date Of Birth" [(ngModel)]="user.DOB" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1"
          required name="DOB" />
        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        <mat-error>
          Required
        </mat-error>
      </mat-form-field>

      <div *ngIf="isRegisterError" class="alert alert-danger">
        <i class="material-icon">error</i> {{registerErrorMessage}}
      </div>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.form.valid">Register
        </button>
        <a mat-button routerLink="/">Cancel</a>
      </mat-card-actions>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card-content>
  </form>
</mat-card>