<mat-card>
  <form #sugarLevelForm="ngForm" (ngSubmit)="save(sugarLevelForm.value)">
	<mat-card-header>
  	<mat-card-title>
    	<h2>{{event.value ? 'Edit' : 'Add'}} event</h2>
  	</mat-card-title>
	</mat-card-header>
	<mat-card-content>
    	<input type="hidden" name="id" [(ngModel)]="event.id">
  	<mat-form-field>
    	<input matInput placeholder="Sugar Level Description" [(ngModel)]="event.description" required name="description">
  	</mat-form-field>
  	<mat-form-field>
    	<input matInput placeholder="Sugar Level Value" [(ngModel)]="event.value" required name="value">
  	</mat-form-field>

  	<mat-form-field class="col-xs-12">
    	<input matInput [(ngModel)]="event.measuredAt" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Measured At"
      	name="measuredAt" required>
    	<owl-date-time #dt2></owl-date-time>
    	<mat-error>
      	Required
    	</mat-error>
  	</mat-form-field>
	</mat-card-content>
	<mat-card-actions>
  	<button mat-raised-button color="primary" type="submit" [disabled]="!sugarLevelForm.form.valid">Save
  	</button>
  	<button mat-raised-button color="secondary" (click)="remove(event.id)" *ngIf="event.id" type="button">Delete
  	</button>
  	<a mat-button routerLink="/event-list">Cancel</a>
	</mat-card-actions>
	<mat-card-footer>

	</mat-card-footer>
  </form>
</mat-card>